asyncpg
chromadb
fastapi
firebase-admin
google-auth
httpx
numpy
openai
pandas
pillow
psycopg2-binary
python-dotenv
python-jose
python-multipart
scikit-image
scikit-learn
sentence-transformers
sqlalchemy
sqlmodel
sse-starlette
torch
tqdm
transformers
uvicorn[standard]
