accelerate
asyncpg
bitsandbytes
chromadb
einops
email-validator
fastapi
firebase-admin
google-auth
locust
numpy
openai
pandas
Pillow
psycopg2-binary
PyJWT
python-dotenv
python-jose
python-multipart
requests
scikit-image
scikit-learn
sentence-transformers
sqlalchemy
sqlmodel
sse-starlette
torch
tqdm
transformers
uvicorn[standard]
